<!DOCTYPE html>
<!--                 (  )
//               (  .      )
//       )           (              )
//              .  '   .   '  .  '  .
//     (    , )       (.   )  (   ',    )
//      .' ) ( . )    ,  ( ,     )   ( .
//   ). , ( .   (  ) ( , ')  .' (  ,    )
//  (_,) . ), ) _) _,')  (, ) '. )  ,. (' )
//
//           T H E   B U R N   C O 
//
//  Where tokens go to never return  -->

<html lang="en">

{% include _head.html %}

<body>  

  <div class="vh-100 dt w-100 tc cover">
      <div class="dtc v-mid">
        <div class="tc">
          <h1 class="f1 f-headline-l fw5 red">The Burn Service</h1>
          <img src="/images/snow-dogran.png" class="br-100 pa1 ba b--white bg-lightest-blue h5 w5" alt="avatar" style="background-image: url(images/blue-bg-speckled.png);">
        </div>
        
        <blockquote class="ph0 mh0 measure f3 lh-copy center">
          <p class="fw5 lightest-blue">
            
            What <span class="vhs-flash red">burns</span>, never returns.
          </p>
          <cite class="f6 ttu tracked fs-normal">by <span class="yellow">FRENCORP</span></cite><br>
        </blockquote>
      </div>
    </div>

    <article class="mw9 center pa3 pa4-ns mv3">
      <main class="pa3 pa5-ns">
        <p class="f3 lh-copy measure-narrow">
          Burn</span> your BSC tokens by sending them to: <span class="b orange">0x986fb79451e13a28d98647b24e23202f495b2e7a</span>
        </p>
    </main>
    </article>

    <article class="mw9 center pa3 pa4-ns mv3">
    <h2 class="fw1">Recent Burns</h2>
    <ul class="list pl0">
      {% for burn in burns -%}
      <li class="pa3 pa4-ns bb b--black-10">
        <span class="db f3 mb1">{{ burn.TokenName }}</span>
        <span class="f5 db lh-copy measure">
          On {{ burn.DateTime }} <br><span class="b">{{ burn.Value }}</span> <span class="orange">${{ burn.TokenSymbol }}</span> were <span class="red vhs-pulse ">burned</span> </span>
          <a href="/burns/{{ burn.Txhash }}/" class="f6 bg-black white br2 pa2 ma3 link dim pointer black-60" type="submit">VERIFY</a>
      </li>
      {% endfor %}
    </ul>
  </article>

</body>
</html>
