<!DOCTYPE html>
<html lang="en">
  {% include _head.html %}
<body>
  
  <article class="athelas">
    <div class="vh-100 dt w-100 tc bg-dark-gray white cover" style="background:url(/images/Southern_Alps_in_Winter.jpg) no-repeat center;">
      <div class="dtc v-mid">
        <div class="tc">
          <h1 class="f1 f-headline-l fw5 white">The Burn Service</h1>
          <img src="/images/snow-dogran.png" class="br-100 pa1 ba b--white bg-lightest-blue h5 w5" alt="avatar">
        </div>
        
        <blockquote class="ph0 mh0 measure f3 lh-copy center">
          <p class="fw5 lightest-blue">
            
            Notarized destruction of burn wallet keys. A service for token developers and marketers.
          </p>
          <cite class="f6 ttu tracked fs-normal">by Puppr</cite><br>
          <!-- <img src="/images/torch.gif" /> -->
        </blockquote>
      </div>
    </div>
  </article>


  <article class="mw9 center pa3 pa4-ns mv3">
  
  

  <main class="pa3 pa5-ns">
    <p class="f3 lh-copy measure-narrow">
      In the event you have no burning mechanism built into your contracts, we can offer a destination wallet to send your tokens to to be destroyed. 
    </p>
    <p class="f3 lh-copy measure-narrow">
      We provide a notarized proof of their destruction and having tossed away the keys we stamp this burn wallet with our seal, allowing you to credibly claim loss of inventory.
    </p>
 </main>

</article>


<h3 class="center ttu fw5 black-50">Example widget</h3>
<article class="bg-white center mw5 ba b--black-10 mv4">
  <div class="pv2 ph3">
     <h1 class="f6 ttu center system-sans-serif">The Burn Service</h1>
  </div>
  <img src="/images/snow-dogran.png" class="w-100 db" alt="Closeup photo of a tabby cat yawning.">
  <div class="pa3">
    <a href="#" class="link dim lh-title">500,000 Tokens Burned</a>
    <small class="gray db pv2">DOGRAN - <time>6 days ago</time></small>
  </div>
</article>

  {% include _google_analytics.html %}

</body>
</html>
